* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.reveal {
    position: relative;
    transform: scale(0.7);
    opacity: 0;
    transition: all 1s ease-out;
}

.reveal.active {
    transform: scale(1);
    opacity: 1;
}

.slide {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease-out;
}

.slide.active {
    transform: translateY(0px);
    opacity: 1;
}

.leftSlide {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1s ease-out;
}

.leftSlide.active {
    transform: translateX(0px);
    opacity: 1;
}

.rightSlide {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 1s ease-out;
}

.rightSlide.active {
    transform: translateX(0px);
    opacity: 1;
}

.arrow {
    position: fixed;
    z-index: 3;
    display: flex;
    width: 62px;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #6450b5bf;
    position: absolute;
    z-index: 2;
    width: 100vw;
    top: 0;

}

.leftNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.leftNavbar img {
    width: 100px;
}

.leftNavbar a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.rightNavbar button {
    padding: 14px 27px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
}

.project {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 200px;
    gap: 20px;
    overflow-x: hidden;
}

.headingQuality {
    line-height: 50px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigFontQuality {
    line-height: 1;
}

.bigFontQuality h1 {
    font-size: 100px;
    text-align: center;
    color: #ebebeb;
}

.smallFontQuality {
    padding: 50px 0px 0px;
}

.smallFontQuality h1 {
    font-size: 60px;
    background-image: linear-gradient(240deg, #0E83CD 0, #8062d4 100%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(255, 255, 255, 0);
}

.project .qualityBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    background-image: linear-gradient(140deg, #2d0d7a 10%, #5f45af 30%, #9093d8 50%, #cadbfc 70%, #5f45af 100%);
    background-color: transparent;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
}

.project .rightBox img {
    border-radius: 0px;
    width: 40vw;
    border-radius: 20px;
    border: 1px solid white;
    filter: drop-shadow(2px 4px 6px black);
}

.project .leftBox {
    width: 30vw;
    display: flex;
    align-items: center;
}

.project .contentOfQuality {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project .contentOfQuality h2 {
    color: #ffffff;
    font-size: 36px;
}

.project .contentOfQuality p {
    font-size: 15px;
    color: #ffffffb3;
}

.project .qualityBox2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    background-image: linear-gradient(140deg, #5e4a8c 10%, #457faf 30%, #90c5d8 50%, #cadbfc 70%, #45a8af 100%);
    background-color: transparent;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
}

.leftBox button {
    background-color: transparent;
    background-image: linear-gradient(140deg, #FC466B 0%, #3F5EFB 100%);
    border-radius: 7px 7px 7px 7px;
    box-shadow: 9px 9px 0px 0px #000000;
    padding: 19px 35px;
    color: white;
    cursor: pointer;
    border: 1px solid black;
}


/* DropDown */
.dropdown {
    display: none;
}







































































@media screen and (max-width:1200px) {
    .headerOfNeed .leftNeed h1 {
        font-size: 55px;
    }

    .needCard {
        width: 90vw;
    }

    .card {
        height: 50vh;
    }
}

@media screen and (max-width:1000px) {
    .headerOfNeed .leftNeed h2 {
        font-size: 25px;
    }

    .headerOfNeed {
        flex-direction: column;
    }

    .headerOfNeed .leftNeed h1 {
        font-size: 60px;
    }

    .statsImage .statsImage2 {
        height: 20vh;
    }

    .card {
        height: 30vh;
    }

    .bgImage {
        height: auto;
    }
}

@media screen and (max-width:900px) {
    .headerOfNeed .leftNeed h2 {
        font-size: 25px;
    }

    .contentOfQuality h2 {
        font-size: 20px;
    }

    .contactPage {
        width: 90vw;
        padding: 40px;
    }

    .headerOfNeed {
        flex-direction: column;
    }

    .statsImage {
        flex-direction: column;
    }

    .statsImage .statsImage2 {
        object-fit: contain;
    }

    .statsImage .statsImage1 {
        width: 100%;
    }

    .card {
        height: 45vh;
    }
}

@media screen and (max-width:800px) {
    .headerOfNeed .leftNeed h1 {
        font-size: 50px;
    }

    .statsImage {
        flex-direction: column;
    }

    .statsImage .statsImage2 {
        object-fit: contain;
    }

    .buildingMemorable {
        flex-direction: column;
        align-items: center;
    }

    .buildingMemorable h1 {
        text-align: center;
    }

    .rightBox img {
        width: 35vw;
    }

    .card {
        height: 55vh;
    }

    .leftNavbar {
        display: none;
    }

    .rightNavbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .dropbtn {
        padding: 14px 27px;
        background-color: black;
        color: white;
        border: 0px;
        border-radius: 30px;
        cursor: pointer;
    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #000000;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .contentOfQuality button {
        padding: 15px 20px;
    }

    .needCard {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: 60vw;
        height: auto;
    }

    .bigFontQuality h1 {
        font-size: 80px;
    }

    .smallFontQuality h1 {
        font-size: 40px;
    }

    .headerOfNeed .leftNeed h1 {
        font-size: 35px;
    }

    .headerOfNeed .leftNeed h2 {
        font-size: 20px;
    }

    .project .qualityBox {
        /* padding: 50px 50px 20px 50px; */
        width: 95vw;
    }

    .project .qualityBox2 {
        width: 95vw;
    }

    .typed-cursor {
        font-size: 35px;
    }

    .headerOfNeed {
        gap: 20px;
    }

    .leftNavbar {
        display: none;
    }

    .contentOfQuality ul {
        display: none;
    }

    .project .contentOfQuality h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .contentOfQuality button {
        padding: 19px 20px;
    }

    .contentTopArea h1 {
        font-size: 45px;
    }

    .qualityBox {
        flex-direction: column;
        gap: 20px;
    }

    .rightBox img {
        width: 100%;
    }

    .contentOfQuality h2 {
        width: 70vw;
    }

    .statsContent h1 {
        font-size: 40px;
    }

    .contactPage {
        width: 100vw;
    }

    .project .rightBox img {
        width: 100%;
    }

    .project .qualityBox {
        flex-direction: column-reverse;
    }

    .project .qualityBox2 {
        gap: 20px;
        flex-direction: column-reverse;
    }

    .contactUs {
        padding: 50px;
    }

    .buildingMemorableheader {
        width: 95vw;
    }

    .buildingMemorablePara {
        width: 95vw;
    }

    .statsImage .statsImage1 {
        object-fit: contain;
    }

    .statsImage2 img {
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 500px) {
    .project .qualityBox {
        padding: 30px 30px 30px 30px;
    }

    .project .qualityBox2 {
        padding: 30px 30px 30px 30px;
    }

    .bigFontQuality h1 {
        font-size: 65px;
    }

    .smallFontQuality h1 {
        font-size: 30px;
    }

    .statsCard {
        padding: 5px;
    }

    .statsContent h1 {
        font-size: 25px;
    }

    .statsContent p {
        display: none;
    }

    .statsCard {
        padding: 15px;
        gap: 0px;
    }

    .statsImage {
        gap: 0px;
    }

    .statsImage2 img {
        height: 100px;
    }

    .bigFontQuality h1 {
        font-size: 55px;
    }

    .checkbox {
        display: none;
    }

    .contactPage {
        padding: 20px;
    }

    .qualityBox {
        padding: 20px;
    }
}


@media screen and (max-width: 300px) {
    .contentTopArea h1 {
        font-size: 35px;
    }

    .buildingMemorable h1 {
        font-size: 35px;
    }

    .bigFontQuality h1 {
        font-size: 40px;
    }

    .smallFontQuality h1 {
        font-size: 20px;
    }

    .contentOfQuality p {
        display: none;
    }

    .contentOfQuality button {
        padding: 10px 10px;
    }

    .card p {
        display: none;
    }

    .card {
        padding: 10px 30px 10px 30px;
    }

    .card h2 {
        font-size: 15px;
    }

    .statsContent p {
        display: none;
    }

    .statsContent h1 {
        font-size: 20px;
    }

    .statsImage .statsImage1 {
        display: none;
    }

    .project .qualityBox {
        width: 90vw;
    }

    form {
        padding: 10px;
    }

    .name input {
        padding: 9px 40px 9px 5px;
    }
}